/* Estilos gerais */

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 14px;
    line-height: 20px;
}

img {
    display: block;
    max-width: 100%;
}

.btn-preto {
    border: 3px solid #000;
    padding: 10px 30px;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn-preto:hover {
      color: rgb(255, 255, 255);
      border-color: rgb(255, 255, 255);
}

.btn-azul {
    border: 3px solid #00B1B7;
    padding: 10px 30px;
    color: #00B1B7;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn-azul:hover {
    color: #000;
    border-color: #000;
}

.subtitulo {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.subtitulo:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 8px auto;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    padding: 15px 0px;
    z-index: 10;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header_menu ul li a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0px;
}

.header_menu ul li a:hover {
    color: #00B1B7;
}

.header_menu ul li a.menu_ativo {
    color: #00B1B7;
}

/* Introdução */

.introducao {
    width: 100%;
    height: 380px;
    background: url("../imgs/home-bg.png") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    text-align: center;
    padding-top: 80px;
}

.introducao h1 {
    font-size: 48px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    bottom: 40px;
}


.introducao h1:after {
    content: "";
    display: block;
    width: 300px;
    height: 3px;
    background: rgb(0, 0, 0);
    margin: 14px auto 10px auto;
    margin-bottom: 50px;
}

/* PLANOS */

.planos {
    padding: 60px 0;
}

.planos_lista h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.planos_lista li img {
    margin: 0 auto;
}

.planos_lista .plano-foto {
  text-transform: none;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: center;
  position: relative;
  top: 45px;
}

.planos_lista .plano-foto:after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: rgb(0, 0, 0);
    position: relative;
    left: 215px;
}

.planos_lista li {
    text-align: center;
    margin-top: -50px;
    
}

.planos_lista li p{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 25;
}

.planos-texto {
    border: 3px solid #00B1B7;
    margin-left: 14px;
    margin-right: 14px;
}

.call {
    padding-top: 40px;
    text-align: center;
    clear: both;
}

.call p {
    margin-bottom: 20px;
}

/*COMO FUNCIONA*/

.como-funciona {
    width: 100%;
    height: 730px;
    background-size: cover;
    text-align: center;
    padding-top: 40px;
    background-color: #00B1B7;
}

/*QUALIDADE*/

.qualidade {
    padding: 60px 0;
}

.qualidade:after {
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url("../imgs/lines.svg") no-repeat center;
    position: absolute;
    top: 230px;
    right: 162px;
    z-index: -1;
}

.qualidade img {
    margin: 0 auto;
}

.qualidade_lista {
    padding-top: 20px;
    overflow: auto;
}

.qualidade_lista li {
    text-align: center;
    padding: 0 40px;
}

.qualidade_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.qualidade_lista h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 6px auto;
    z-index: -1;
}

/*Footer*/

.footer {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 20px 0;
}

footer h3 {
    font-size: 18px;
    line-height: 25px;
    color: #00B1B7;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

footer h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #00B1B7;
    margin: 6px 0px 12px 0px;
}

.footer_historia {
    padding-right: 40px;
}

.footer_contato ul li {
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer_redes ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer_redes ul li a {
    border: 3px solid #00B1B7;
    display: block;
    padding: 10px;
}

.footer_redes ul li a:hover {
    border: 3px solid #fff;
}

.copy {
    width: 100%;
    background: #fff;
    padding: 20px 0;
}

